html{
  background-color: #1F262F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  margin-top: 10rem;
  background-color: whitesmoke;
  height: 40rem;
  width: 30rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.actual_temp{
  display: flex;
  justify-content: center;
}

.circle{
  background-color: #2C3039;
  height: 8rem;
  width: 8rem;
  text-align: center;
  border-radius: 50%;
}

.circle p {
  margin-top: 40%;
  color: #DC239E;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn_container{
  display: flex;
  justify-content: center;
}

h2{
  color: black;
}

button{
  margin: 1rem;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

